*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-black: #1f1f1f;
  --bg-black1: #2b292c;
  --bg-white: #ffffff;
}

body {
  font-family: "VT323", monospace;
}

#background {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container {
  height: 40rem;
  width: 20rem;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 1.5rem 0 0.5rem 0;
}

#search-input {
  font-family: "VT323", monospace;
  padding: 0.5rem;
  border-radius: 5px;
  width: 10rem;
}

#search-button {
  font-family: "VT323", monospace;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  width: 4rem;
}

#search-button:hover {
  background-color: gold;
}

#search-button:active {
  background-color: gold;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

img {
  width: 10rem;
  height: 10rem;
}

#stats-container {
  color: white;
  height: 23rem;
  width: 19rem;
  background-color: var(--bg-black1);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.font-styling {
  font-size: x-large;
  font-weight: normal;
}

.font-color {
  color: #666;
}

#h-w-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* outline: 1px solid red; */
}

#container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  /* outline: 1px solid red; */
}

table {
  width: 15rem;
  outline: 1px solid red;
}

td {
  outline: 1px solid yellow;
}

/* Pokemon Types */

#types-main {
  display: flex;
  gap: 0.5rem;
}

.types-container {
  height: 1.5rem;
  width: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.electric {
  background-color: #f8d030;
}

.grass {
  background-color: #78c850;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #f0b6bc;
}
